

<div class="mt-4">
    <div class="card">
        <div class="card-header py-4">
            <div class="d-flex justify-content-start align-items-center">
                <h5 class="text-primary">Créer un plan d'empotage</h5>
            </div>
        </div>
        <div class="card-body">
            <div class="step">
                <div class="step__item" 
                    *ngFor="let item of stepData; index as i"
                    [class.active]="i == stepActived"
                    [class.done]="i < stepActived"
                    >
                    <div class="step__number">
                        <span>{{i+1}}</span>
                        <i class="fa fa-check"></i>
                    </div>
                    <div class="step__content__wrapper ms-3">
                        <div class="step__header">
                                <span class="step__title">{{item.title}}</span>
                                <span class="step__text">{{item.text}}</span>
                        </div>
                        <div class="step__content mt-4">
                            <div [ngSwitch]="i">
                                <ng-container *ngSwitchCase="0">
                                    <app-step1 (goStep)="stepActived = $event"></app-step1>
                                </ng-container>
                                <ng-container *ngSwitchCase="1">
                                    <app-step2 (goStep)="stepActived = $event"></app-step2>
                                </ng-container>
                                <ng-container *ngSwitchCase="2">
                                    <app-step3></app-step3>
                                </ng-container>
                                <ng-container *ngSwitchCase="3">
                                    <app-step4></app-step4>
                                </ng-container>
                                <ng-container *ngSwitchDefault>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>