<form >
    <div class="row g-3 mb-3">
        <div class="col">
            <label for="contra" class="form-label">Contrat</label>
            <select id="contra" class="form-select">
                <option value="">selectionner contrat</option>
            </select>
        </div>
        <div class="col">
            <label for="premium" class="form-label">Premium</label>
            <input type="text" id="premium" class="form-control" placeholder="+2">
        </div>
    </div>

    <div class="row g-4 mb-3">
        <div class="col">
            <label for="quantite" class="form-label">Quantité</label>
            <input type="text" id="quantite" class="form-control" placeholder="Saisir la quantité">
        </div>
        <div class="col">
            <label for="discompte" class="form-label">Discompte</label>
            <input type="text" id="discompte" class="form-control" placeholder="-2">
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-center mt-5">
        <!-- <button type="button" class="btn btn-secondary">
            <i class="fa fa-arrow-left me-2"></i>
            Précédent
        </button> -->

        <button type="button" class="btn btn-primary" (click)="goStep.emit(1)">
            Suivant
            <i class="fa fa-arrow-right ms-2"></i>
        </button>
    </div>
</form>