//
// Buttons
//

// Soft Buttons
@mixin button-soft($hs-color, $hs-background, $hs-hover-background, $hs-active-background, $hs-box-shadow) {
    color: ($hs-color);
    background-color: rgba($hs-background, .1);
    border-color: transparent;
  
    &:hover,
    &:focus,
    &:active,
    &.active {
      color: color-yiq($hs-hover-background);
      background-color: ($hs-hover-background);
      box-shadow: $btn-box-shadow-value rgba($hs-background, 0.1);
    }
  
    &.disabled,
    &:disabled {
      color: $hs-background;
      background-color: rgba($hs-background, .1);
      box-shadow: none;
    }
  
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    .show > &.dropdown-toggle {
      color: color-yiq($hs-active-background);
      background-color: $hs-active-background;
    }
  }
