@use "sass:math";


@each $color, $value in $theme-colors {
    .bg-soft-#{$color} {
      background-color: rgba($value, .1);
    }
  }

  // Color contrast
@function color-yiq($color, $dark: $yiq-text-dark, $light: $yiq-text-light) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);

  $yiq: math.div((($r * 299) + ($g * 587) + ($b * 114)), 1000);

  @if ($yiq >= $yiq-contrasted-threshold) {
    @return $dark;
  } @else {
    @return $light;
  }
}

// Mixin to create font size et width
@for $i from 1 through 100 {
  .w-#{$i} {
    width: $i * 1% !important;
  }
  .font-#{$i} {
    font-size: $i * 1px !important;
  }
}
