<div class="sidebar__content">
    <div class="logo">
        <img src="assets/images/auth-logo-ricva@2x.png" alt="Logo Ricva">
    </div>

    <nav class="navi">
        <a class="navi__item"
        *ngFor="let item of navigations; index as i"
            [routerLink]="[item.path]" 
            routerLinkActive="active"
            [class.active]="i == 1">
            <span><img class="item__icon" [src]="item.icon"></span>
            <span class="item__label">{{item.label}}</span>
        </a>
    </nav>
</div>