<div class="wrapper">

    <div class="wrapper__sidebar">
        <wrapper-sidebar></wrapper-sidebar>
    </div>

    <div class="wrapper__content">
        
        <!-- Header -->
        <wrapper-header></wrapper-header>
        <!-- End Header -->

        <div class="wrapper__main">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>