.wrapper {
    position: relative;
    height: 100vh;
    width: 100%;

    &__sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        background: $white;
        width: calc(#{$sidebar-width} + 11.25rem);
        padding: 1.5rem 1.5rem 2rem;
        transition: .5s;
        z-index: 100;

        .logo img {
            height: 3.75rem;
            width: 8rem;
            display: block;
            margin: 0 auto;
        }

        .sidebar__content  {
            height: 100%;
            overflow: hidden;
            
            .sidebar__header {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
    
                .item__menu {
                    cursor: pointer;
                }
            }
    
            .navi {
                margin-top: 3.125rem;
    
                a {
                    text-decoration: none;
                    color: $body-color;
                }
    
                &__item {
                    display: grid;
                    grid-template-columns: max-content max-content;
                    column-gap: 1rem;
                    align-items: center;
                    padding: 0.75rem 1.6rem;
                    margin: 10px 0;
                    transition: .3s;
                    border-radius: 10px;
                    position: relative;

                    &:hover {
                        background-color: rgba($color: $primary, $alpha: .1);
                    }
    
                    &.active {
                        background: rgba($color: $primary, $alpha: .1);
                    }

                    .item__icon {
                        font-size: 1.25rem;
                    }
    
                    .item__label {
                        font-weight: 500;
                    }

                    &::after.subnav  {
                        content: 'd';
                        position: absolute;
                        right: 5%;
                    }
                }
            }
    
        }

        
    }

    &__content {
        position: relative;
        height: 100%;
        padding: 0rem 0 0 19rem;
        overflow-y: scroll;
        transition: .5s;
        
        &.body-pd{
            padding: 0 0 0 7.6rem;
        }
    }

    &__main {
        padding: 1.25rem 3.12rem 0;
        margin-bottom: 6.25rem;
    }

    &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.25rem 3.12rem 2rem;
    }
}