<form >
    <div class="row g-3 mb-3">
        <div class="col">
            <label for="contra" class="form-label">Booking</label>
            <select id="contra" class="form-select">
                <option value="">Séléctionner le booking</option>
            </select>
        </div>
        <div class="col">
            <label for="premium" class="form-label">Conteneur</label>
            <select id="contra" class="form-select">
                <option value="">Séléctionner le(s) conteneur(s)</option>
            </select>
        </div>
    </div>

    <div class="row g-4 mb-3">
        <div class="col">
            <label for="quantite" class="form-label">Entrepot</label>
            <select id="contra" class="form-select">
                <option value="">Séléctionner l'entrepot</option>
            </select>
        </div>
        <div class="col">
            <label for="discompte" class="form-label">Transitaire</label>
            <select id="contra" class="form-select">
                <option value="">Sélectionner le transitaire</option>
            </select>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-5">
        <button type="button" class="btn btn-secondary" (click)="goStep.emit(0)">
            <i class="fa fa-arrow-left me-2"></i>
            Précédent
        </button>

        <button type="button" class="btn btn-primary" (click)="goStep.emit(2)">
            Suivant
            <i class="fa fa-arrow-right ms-2"></i>
        </button>
    </div>
</form>