
$gray-600:                                                  #8c98a4;
$gray-700:                                                  #677788;
$gray-900:                                                  #212529;
$white:                                                     #fff;


$sidebar-width: 120px;

$primary: #CB7A4B;
$secondary: #ECECEC;
$success: #1FBF48;
$blue: #0071BC;

$font-family-sans-serif:      'Roboto', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace:       'Roboto', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

$body-bg:                   #FAFAFB;
$body-color:                #707070;

// Customize the light and dark text colors for use in our YIQ color contrast function.
$yiq-text-dark:             $gray-900 !default;
$yiq-text-light:            $white !default;

// The yiq lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 and 255.
$yiq-contrasted-threshold:  150 !default;

// Border Radius
$border-radius:                                             .3125rem;
$border-radius-sm:                                          .25rem;
$border-radius-lg:                                          .5rem;
$border-radius-pill:                                        6.1875rem;
$border-radius-rounded:                                     50%;


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.

// scss-docs-start btn-variables
$btn-padding-y:               .675rem;
$btn-padding-x:               .875rem;


// Box Shadows
$box-shadow:                                                0px .375rem 1.5rem 0px rgba($gray-600, .125) !default;
$box-shadow-sm:                                             0px 12px 15px rgba($gray-600, .1) !default;
$box-shadow-sm-hover:                                       0px 12px 15px rgba($gray-600, .175) !default;
$box-shadow-lg:                                             0px 10px 40px 10px rgba($gray-600, .175) !default;
$box-shadow-primary-sm:                                     0px 0px 35px rgba($primary, .125) !default;
$box-shadow-primary-lg:                                     0px 0px 50px rgba($primary, .4) !default;
$box-shadow-soft:                                           0px 3px 6px 0px rgba($gray-600, .25) !default;
$box-shadow-vertical-right:                                 -5px 0px 12px rgba($gray-700, .1) !default;
$box-shadow-vertical-left:                                  5px 0px 12px rgba($gray-700, .1) !default;



// Box Shadows
$btn-box-shadow-value:                                      0 4px 11px !default;
$btn-white-box-shadow-hover:                                0px 3px 6px -2px rgba($gray-600, .25) !default;
$btn-group-segment-link-active-box-shadow:                  $box-shadow-soft !default;

// Avatar

$avatar-width:                                              3.125rem;
$avatar-height:                                             3.125rem;

$avatar-border-radius:                                      $border-radius-rounded;

$table-th-font-weight:        400;

$table-color: #676767;
// $table-accent-bg:             #FAFAFA;

$table-striped-color:         $body-color;
$table-striped-bg-factor:     .05;
$table-striped-bg:            $white;

// $table-striped-color:         #676767;
// $table-striped-bg-factor:     .05;
// $table-striped-bg:            #FAFAFA;

// $table-active-color:          #676767;
