.chargment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    a {
        text-decoration: none;
        color: $body-color;
    }

    &__item {
        display: grid;
        grid-template-columns: max-content max-content;
        column-gap: 1rem;
        margin-right: 1rem;
        padding:  .4375rem .875rem;
        border: 1px solid $primary;
        border-radius: 1.3125rem;
        cursor: pointer;
        position: relative;

        .item__label {
            font-weight: 500;
            font-size: .8125rem;
        }

        img {
            max-width: 1.40875rem;
            max-height: 1.40875rem;
        }

        &::after.active {
            content: 'd';
            background-image: url('/assets/icons/checked.svg');
            position: absolute;
            top: 3px;
            right: 5%;
        }
    }
}