.step {
    &__item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 4.5rem;

        &.active {
            .step__content__wrapper {
                .step__content,
                .step__text {
                    display: block;
                }

                .step__title {
                    color: #444444
                }
            }
            .step__number {
                background-color: $blue;
                color: $white;
                i {
                    display: none;
                }
            }
        }

        &.done {
            .step__number {
                color: $blue;
                i {
                    display: block;
                }
                span {
                    display: none;
                }
            }
            .step__content__wrapper {
                display: block;

                .step__title {
                    color: #8D8D8D;
                }
            }
        }
    }
    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        border-radius: .625rem;
        background-color: #D5EEFF;
        color: #D5EEFF;
        font-weight: 500;
        position: relative;

       i {
            display: none;
        }

       &:not(:last-child):after  {
           content: '';
           position: absolute;
           top: 3.59375rem;
           left: 1.253rem;
           border-left: .125rem solid #FAFAFB;
           height: 2.875em;
       }
       
    }

    &__header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__content__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-shrink: 1;
        flex-basis: 100%;
        transition: .5s all ease-in;

        .step__content,
        .step__text {
            display: none;
        }
    }

    &__content {
        width: 100%;
    }

    &__title {
        font-weight: 400;
        color: #8D8D8D;
    }

    &__text {
        color: #707070;
        font-weight: 300;
        font-size: .875rem;
    }

}