<div class="wrapper__header">
    <div class="chargment">
        <a class="chargment__item" 
            *ngFor="let item of chargmentData" 
            [class.active]="item.isActive">
            <img [src]="item.icon" alt="{{item.label}}">
            <span class="item__label">{{item.label}}</span>
        </a>
    </div>

    <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-notification me-5">
            <i class="fa fa-bell"></i>
            <span class="ms-2">02</span>
        </button>

        <div class="account">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Toggle dropdown</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Action - 1</button>
                <button ngbDropdownItem>Another Action</button>
                <button ngbDropdownItem>Something else is here</button>
                </div>
            </div>
        </div>
    </div>
</div>