<div class="d-flex justify-content-between align-items-center">
    <h4 class="fw-normal text-dark">Liste des inscriptions</h4>
    <button class="btn btn-primary btn-rounded" (click)="goCreateEmpotage()">Créer un plan d'empotage</button>
</div>

<div class="mt-4">
    <div class="card">
        <div class="card-header py-4">
            <div class="d-flex justify-content-between align-items-center">
            
                <h6 class="text-primary">Plan d'empotage</h6>

                <div class="input-group input-search w-15">
                    <span class="input-group-text" id="basic-addon1">
                        <i class="fa fa-search text-primary"></i>
                    </span>
                    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="px-4">
                    <tr>
                      <th scope="col">
                        N° Lot
                      </th>
                      <th scope="col">Chargement</th>
                      <th scope="col">Date de création</th>
                      <th scope="col">Modifié le</th>
                      <th scope="col">Numero de ticket de pesée</th>
                      <th scope="col">Numero de lot</th>
                      <th scope="col">Statut</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of [1,2,3]">
                      <td scope="row">
                        925
                      </td>
                      <td>00024289</td>
                      <td>15/05/2021</td>
                      <td>21/05/2021</td>
                      <td>925</td>
                      <td>785</td>
                      <td>
                          <button class="btn btn-success btn-sm px-4 text-white">
                            En cours
                          </button>
                      </td>
                      <td >
                          <button class="btn btn-primary btn-sm btn-icon">
                              <i class="fa fa-trash"></i>
                          </button>
                          <button class="btn btn-light btn-sm btn-icon ms-3">
                              <i class="fa fa-arrow-right"></i>
                          </button>
                      </td>
                    </tr>
                  </tbody>
              </table>
        </div>
    </div>
</div>