/*------------------------------------
  Soft Button Styles
------------------------------------*/

@each $color, $value in $theme-colors {
    /* #{$color} soft */
    .btn-soft-#{$color} {
      @include button-soft($value, $value, $value, $value, $value);
    }
}

.btn-notification {
  background-color: $blue;
  color: $white;
  background: #0774BE 0% 0% no-repeat padding-box;
  box-shadow: 4px 13px 24px #0774BE66;
  border-radius: .625rem;
}